<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="/NeuralNetwork.js" charset="utf-8"></script>
        <script src="/Test.js" charset="utf-8"></script>
    </head>
    <body>

    </body>
</html>
